@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,400&display=swap');

:root {
    /*   color variables */
    --clr-primary: #9892EC;
    --clr-primary-hover: #a38bbb;
    --clr-primary-dark: #583848;
    /* --clr-gray100: #a9c8cc; */
    --clr-gray200: #ffffff;
  
    /*   border radius */
    --radius: 0.2rem;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
  
  body {
    font-family: Montserrat, sans-serif;
    background: linear-gradient(90deg, #CBD9FF, #8D9FF0);
    /* #FFCCCC #CCFFFF*/
  }
  
  .nav-list {
    background: #9192D4;
    /* rgb(196, 163, 166) */
    box-shadow: 0px 0px 5px var(--clr-gray200);
    padding: 1rem 0;
    border-radius: var(--radius);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 1.2%;
  }
  
  .nav-item {
    list-style: none;
    margin-right: 3rem;
  }
  
  .nav-item a {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    transition: all 100ms ease-in;
  }
  
  .nav-item a:hover {
    color: var(--clr-primary-dark);
  }
  
  .nav-item:first-child {
    margin-right: auto;
    margin-left: 7rem;
  }

  #about-nav{
    margin-left: 20%;
  }
  
  .btn-primary {
    font-family: Montserrat, sans-serif;
    font-size: 15px;
    background: var(--clr-primary);
    border: none;
    outline: none;
    border-radius: var(--radius);
    padding: 0.7rem;
    cursor: pointer;
    transition: all 20ms ease-in;
    color: #100d3f;
  }
  
  .btn-primary:hover {
    background: var(--clr-primary-hover);
  }

  #JA {
    height: 50px;
  }
